<h1>Artists</h1>

<% @artists.each do |artist| %>
  <tr>
    <% artist.photos.each do |photo| %>
    <td><%= image_tag photo.image, size: '300x250' %></td>
    <% end %>
    <td><%= artist.name %></td>
    <td><%= pluralize(artist.songs.count, "song") %></td>
    <td><%= link_to "Show songs", artist_path(artist), class: 'btn btn-primary btn-xs' %>
      <%= link_to "Delete Artist", artist_path(artist), method: :delete, class: 'btn btn-danger btn-xs',
      data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
<% end %>


<%= link_to "Sort by name", {sort: "name", direction: @next_direction } %>
<%= link_to "Sort by creation date", {sort: "created_at", direction: @next_direction } %>
