<h1><%= @artist.name %></h1>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image, size: '300x250' %>
  <% end %>
  <% @artist.songs.each do |song| %>
    <p><%= song.name %></p>
    <%= link_to "Delete song", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= form_for [@artist, @artist.songs.new] do |f| %>
    <div class="form-group">
      <%= f.label :name, text: "Add song: " %>
      <%= f.text_field :name %>
      <%= f.submit "Add" %>
    </div>
  <% end %>

<%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to artists", root_path %>
